# test artifacts
.nyc_output
coverage/
lib-cov
*.lcov
.tap

# IDE files
.idea
*.swp
*.vim

# dev files
*.save
*.tgz
env/
*.env
.npm
.eslintcache/
.node_repl_history
node_modules/
npm-debug.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock
